@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}


<h1>Reset Your Password</h1>
<div asp-validation-summary="All"></div>

<div class="main-agileinfo">
    <div class="agileits-top">
        <form ASP-action="SendForgetPasswordEmail" method="post">
            <input class="text" asp-for="Email" placeholder="Email">
            <span asp-validation-for="Email" class="text-danger"></span>

            <input type="submit" value="Reset">
   
        </form>
    </div>
</div>

@section ValidationSection
{
    <partial name="_ValidationScriptsPartial" />
}

