@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    ViewData["Header"] = "Login";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}



<div class="main-agileinfo">
    <div class="agileits-top">

        <br />
        <form ASP-action="Login" method="post">
            <input class="text" asp-for="Email" style="margin-bottom:12px">
            <span asp-validation-for="Email" class="text-danger" ></span>

            <input class="text" asp-for="Password" style="margin-bottom:12px">
            <span asp-validation-for="Password" class="text-danger"></span>

            <div class="wthree-text">
                <label class="anim">
                    <input asp-for="RememberMe" class="checkbox">
                    <span>Remmember Me?</span>
                </label>
                <div class="clear"> </div>
            </div>
            <input type="submit" value="SIGNIN">
            <a>Don't Have an Account? <a asp-action="Index">SignUp</a>
            <br />
            <br />
            <a>Forget Password?<a asp-action="ForgetPassword">Reset</a></a>
        </form>
    </div>
</div>

@section ValidationSection
{
    <partial name="_ValidationScriptsPartial" />
}

