@model EmployeeViewModel
@{

    ViewData["Title"] = "Add";
}

<h1>Add New Employee</h1>

<form asp-action="Add" method="post">
    <partial name="PartialViews/AddUpdatePartialView" />

    <input type="submit" value="Add" class="btn btn-success" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>


@section ValidationSection {
        <partial name="_ValidationScriptsPartial">
}