@model Department
@{
    ViewData["Title"] = "Create";
}

<h1>Create Department</h1>

<form asp-action="Create" method="post">
    <legend>Fill All Information</legend>
    

    <partial name="PartialView/AddUpdatePartialView"/>


    <input type="submit" class="btn btn-primary" value="Create"/>
    <a class="btn btn-light" asp-action="Index">Back To List</a>
</form>

@section ValidationSection{
    <partial name="_ValidationScriptsPartial" />
}